.card {
  background: var(--color-neutral-10);
  border-radius: 8px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 5rem;
  padding: 8px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.statusContainer {
  font-size: small;
  padding: 4px;
  background: var(--color-success-main);
  border-radius: 4px;
}
